.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    
}

.bookings {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bookings img {
    height: auto;
    max-width: 100px;
    border-radius: 50%;
    flex: 1;
}

.desc {
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}